@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-weight: 100 900;
  font-style: italic;
}

* {
  box-sizing: border-box;
}

@font-face {
  font-family: "IBM Plex Mono";
  src: url("../fonts/IBMPlexMono-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: "Inter", sans-serif; /* Apply the Inter font */
}

/* Preloader styles */
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
  transition: opacity 0.5s ease, visibility 0.5s ease;
  opacity: 1;
  visibility: visible;
}
.preloader.hidden {
  opacity: 0;
  visibility: hidden;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.blue-background {
  background-color: #013566;
}

.neutral-background {
  background-color: #efefef;
}

.logo-container {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px;
}

.logo {
  width: 95px;
  height: 71px;
}

/* product page  ------------------------------------------------------------------------------------------------- */

.product-page-title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.product-page-title-container h1 {
  font-weight: 700;
  margin-top: 0;
}

.product-page-title-container h2 {
  font-weight: 400;
  margin-top: 0;
}

.product-page-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  gap: 50px;
}

.table-container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 7px 7px 18px 0px rgba(255, 108, 38, 0.25);
  width: 310px;
  display: flex;
  flex-direction: column;
}

.table-container div {
  width: 100%;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 7px 7px 18px 0px rgba(255, 108, 38, 0.25);
  margin-bottom: 10px;
}

.product-page-content-container h3,
.product-page-content-container h4 {
  margin: 10px 0;
  color: #ff6c26;
}

.content-container h3 {
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}

.table-content {
  width: 100%;
  border-collapse: collapse;
  margin: 2px 0;
}

.table-content td {
  padding: 2px 0;
}

.table-content tbody tr:last-child td {
  padding-bottom: 5px;
}

.table-content td:last-child {
  text-align: right;
  border-left: 2px solid white;
}

/* .table-highlighted {
  margin-bottom: 10px;
} */

.table-content:not(.highlighted) tr:last-child td {
  border-bottom: dashed 1px #ccc;
  padding-bottom: 5px;
}

.table-footer {
  border-top: 1px dashed #ccc;
}

.product-page-video-container {
  margin-top: 20px;
  text-align: center;
}

.product-page-video-container video {
  max-width: 100%;
  height: auto;
}

.orange-box {
  position: fixed;
  bottom: 20px;
  right: 20px;
  height: 40px;
  background-color: #ff6c26;
  color: white;
  padding: 10px 20px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: medium;
  border-radius: 5px;
}

.orange-box a {
  color: white;
  text-decoration: underline;
}

/* intro page ------------------------------------------------------------------------------------------------- */

.intro-page-content-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  height: 100vh;
  color: white;
  position: relative; /* Allow absolute positioning of child elements */
}

.intro-page-title-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  padding: 20px;
  transform: translateY(-100px);
}

.intro-page-title-container h1,
.intro-page-title-container h2 {
  margin: 0;
}

.intro-page-title-container h1 {
  font-size: 50px;
  font-weight: 600;
}

.intro-page-title-container h2 {
  font-size: 50px;
  font-weight: 400;
  text-wrap: nowrap;
}

.intro-page-video-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.intro-page-video-container video {
  height: 900px;
  width: auto;
}

.intro-page-images-container {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px; /* Space between images */
  padding: 20px; /* Optional: Add some padding */
}

.intro-page-images-container p {
  margin: 0;
  font-size: 30px;
  font-weight: 600;
  transform: translateY(-35px);
}

.intro-page-images-container img:first-child {
  transform: translateY(40px);
}

/* Loading page ------------------------------------------------------------------------------------------------- */
.loading-page-content-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 50px;
  height: 100vh;
  color: white;
}

.loading-items {
  flex: 1;
  align-self: center;
}

.loading-item {
  display: flex;
  gap: 20px;
  align-items: center;
}

.loading-item p {
  font-size: 30px;
  font-family: "IBM Plex Mono", monospace;
}

.loading-icon {
  display: inline-block;
  width: 30px;
  height: 30px;
  border: 3px solid white;
  border-top: 3px solid #002e5b;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.checkmark {
  display: inline-block;
  width: 30px;
  height: 30px;
  background-color: white;
  mask: url("../img/check.svg") no-repeat center;
  -webkit-mask: url("../img/check.svg") no-repeat center;
  mask-size: contain;
  -webkit-mask-size: contain;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-page-video-container {
  flex: 1;
  display: flex;
  align-items: flex-end;
}

.loading-page-video-container video {
  height: 800px;
  width: auto;
}
